.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 15vmin;
  padding-top: 40px;
  padding-bottom: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.Pete {
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px);
  color:#32a852;
  justify-content: top;
}

.React-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, .1);
}

.Player {
  justify-content: top;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.Controls {
  padding-bottom: 40px;
}

.Note {
  color: red;
  font-size: calc(12px);
  text-decoration: underline;
}

.Instruct {
  align-content: center;
  font-size: calc(12px);
  color: white;
}

.Pre-List {
  color: white;
  justify-content: center;
  display: initial;
}

.List {
  color: white;
  list-style: circle;
  justify-content: center;
  text-align: initial;
  display: inline-block;
}

.Button {
  background-color: #32a852;
}